
#bg-color{
    background-color: #badc58;
}
.bg-light{
    background-color: #badc58 !important;
}

 

#top-section {
    padding: 100px;
    background-color: #badc58;
}

#top-section p{
    color: red;
}
#top-section h1{
    color: #10ea2d;
    font-family: tahoma;
    font-weight: 700;
}
#top-section span{
    color: black;
}
#top-section h5{
    color: gray;

}
#top-section button{
    border: none;
    padding: 5px 20px;
    border-radius: 20px;
    background-color: green;
    color: white;
    font-size: 12px;
}
#top-section img{
    width: 100%;
}
.card{
 border: none;
 background-color: #badc58;
 padding-top: 25px;
 border-radius: 5px;

}
.card img{
    width: 30%;
}
#Books{
    margin-top: 50px;
    height: 300px;
}

#students{
    background-color: white;
    box-shadow: 5px 5px 20px #888888;
}


#online-courses img{
   width: 90%;
   padding-left: 20px;
}
.btn{
    border: none;
    background-color: green;
    border-radius: 20px;
}


.font-icon{
    margin-top: 14px;
}
.font-icon p{
    float: left;
    font-size: 17px;
    padding: 10px 15px;
}


#Blogs{
    margin-top: 0px;
    margin-bottom: 100px;
}
#Testimonial{
    margin-top: 100px;
    margin-bottom: 100px;
}

.animation{
    margin: 100px 0px;
    width: 55%;
    height: 250px;
    background-color: green;
    position: relative;
}

.ball{
    position: absolute;
    top: 24%;
    left: 10%;
    width: 135px;
    height: 135px;
    background-color: red;
    border-radius: 50%;
}
.bar{
    height: 500px;
    width: 10px;
    background-color: black;
}
.form input{
    width: 100%;
    border: 0px;
    border: 1px solid gray;
    padding: 4px 10px;
    margin: 7px 0px;
    border-radius: 6px;
}
input:focus{
     color: rebeccapurple;
}
footer{
    padding-top: 100px;
    background-color: black;
    margin-top: 100px;
}

footer p{
    font-size: 14px;
    color: white;
}
footer h3{
    color: whitesmoke;
}



.copyright h5{
    text-align: center;
    color: white;
    font-size: 13px;
    padding: 50px 0px;
}

